.head{
    padding: 150px;
    text-align: center;
    background-color: greenyellow;
}

.nav{
    background-color: black;
}

h1, p {
    text-align: center;
}

.footer{
    text-align: center;
    margin-top: 250px;
}
